@import "../../../../../../assets/common/scss/mixin.scss";

.create__new {
  margin: 0 50px;
  height: 100vh;

  .form__user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;

    .field__item {
      margin-bottom: 30px;
      ::ng-deep .p-inputtext {
        padding-right: 24px;
        width: fit-content;
      }
      h5 {
        margin-bottom: 10px;
      }
    }
  }
}
.loader {
  @include loader;
}
