@import "../../../assets/common/scss/variables.scss";

//custom scrollbar
/* width */
::ng-deep ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::ng-deep ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::ng-deep ::-webkit-scrollbar-thumb {
  background: rgb(136 136 136 / 50%);
}

/* Handle on hover */
::ng-deep ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.admin__layout {
  width: 100%;
  display: flex;
  max-width: 100%;

  .admin__left {
    height: 1300px;
    background: $bgc-sidebar;
    transition: width 0.5s;
  }
  .admin__right {
    background-color: $bgc-main-content;
    transition: width 0.5s;
  }
}
.iconSidebar {
  color: $color-text;
  font-size: $fs24;
  cursor: pointer;
}

.hideSidebar {
  transform: rotate(180deg);
  transition: transform 0.5s;
}
.showSidebar {
  transition: transform 0.5s;
}

.layoutHide {
  width: 4%;
  flex: 0 0 auto;
}

.layoutShow {
  width: 96%;
  flex: 0 0 auto;
}

:host ::ng-deep .p-toast-message {
  font-size: $fs14;
  .p-toast-message-success {
    background: rgb(200 230 201 / 50%);
  }
}
