<section class="admin__layout grid m-0">
  <div class="nav__bar col-12 p-0">
    <app-navbar class="flex align-items-center">
      <i
        [ngClass]="isHide ? 'hideSidebar' : 'showSidebar'"
        (click)="handleHideSidebar()"
        class="pi pi-chevron-left iconSidebar"
      ></i>
    </app-navbar>
  </div>
  <div class="admin__left p-0" [ngClass]="isHide ? 'layoutHide' : 'col-2'">
    <app-sidebar> </app-sidebar>
  </div>

  <div class="admin__right p-0" [ngClass]="isHide ? 'layoutShow' : 'col-10'">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
