<ng-template
  #showErrors
  let-form="form"
  let-field="field"
  let-error="error"
  let-otherError="otherError"
  let-message="message"
  let-otherMessage="otherMessage"
>
  <div
    class="styleErrorInput"
    *ngIf="
      (form.controls[field].touched || this.submitted) &&
      form.controls[field].invalid
    "
  >
    <p *ngIf="form.controls[field].errors['required']">
      * {{ field | upperFirstLetter }} is required.
    </p>
    <p *ngIf="error && form.controls[field].errors[error]">* {{ message }}</p>
    <p *ngIf="otherError && form.controls[field].errors[otherError]">
      * {{ otherMessage }}
    </p>
  </div>
</ng-template>

<section class="create__new">
  <h2 class="title">CREATE NEW USER</h2>

  <form [formGroup]="formUser" (ngSubmit)="submitCreateUser()">
    <div class="form__user">
      <div class="field__item field__name">
        <h5>Name:</h5>
        <input
          type="text"
          pInputText
          formControlName="name"
          pattern="^[a-zA-Z ]*$"
        />

        <ng-container
          [ngTemplateOutlet]="showErrors"
          [ngTemplateOutletContext]="{
            form: formUser,
            field: 'name',
            error: 'maxlength',
            otherError: 'pattern',
            message: 'The length of name is 10',
            otherMessage: 'Only characters, not numberic'
          }"
        >
        </ng-container>
      </div>

      <div class="field__item field__age">
        <h5>Age:</h5>
        <span [ngClass]="age?.value > 16 ? 'p-input-icon-right' : ''">
          <i class="pi loader" *ngIf="age?.value > 16"></i>
          <input
            type="text"
            pInputText
            formControlName="age"
            pattern="^[0-9]{1,}$"
          />

          <ng-container
            [ngTemplateOutlet]="showErrors"
            [ngTemplateOutletContext]="{
              form: formUser,
              field: 'age',
              error: 'pattern',
              message: 'Only numberic'
            }"
          >
          </ng-container>
        </span>
      </div>

      <div class="field__item field__mail">
        <h5>Mail:</h5>
        <input
          type="text"
          pInputText
          formControlName="mail"
          pattern="^(([^<>()[\]\\.,;:\s@']+(\.[^<>()[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$"
        />

        <ng-container
          [ngTemplateOutlet]="showErrors"
          [ngTemplateOutletContext]="{
            form: formUser,
            field: 'mail',
            error: 'pattern',
            message: 'Invalid mail.'
          }"
        >
        </ng-container>
      </div>

      <div *ngIf="age?.value > 16" class="field__item field__address">
        <h5>Address:</h5>
        <input type="text" pInputText formControlName="address" />
      </div>

      <div class="field__item field__phone">
        <h5>Phone:</h5>
        <input
          type="text"
          pInputText
          formControlName="phone"
          pattern="^[0-9]{1,}$"
        />

        <ng-container
          [ngTemplateOutlet]="showErrors"
          [ngTemplateOutletContext]="{
            form: formUser,
            field: 'phone',
            error: 'lengthPhone',
            message: 'The length phone is 10.',
            otherError: 'pattern',
            otherMessage: 'Invalid phone.'
          }"
        >
        </ng-container>
      </div>

      <div class="field__item field__zipcode">
        <h5>Zipcode:</h5>
        <p-dropdown
          [options]="dataZipcode"
          optionLabel="code"
          optionValue="code"
          placeholder="Select"
          formControlName="zipcode"
          [required]="true"
        ></p-dropdown>
        <ng-container
          [ngTemplateOutlet]="showErrors"
          [ngTemplateOutletContext]="{
            form: formUser,
            field: 'zipcode'
          }"
        >
        </ng-container>
      </div>

      <div class="field__item field__companyGroup">
        <h5>Company Group:</h5>
        <p-dropdown
          [options]="dataCompanyGroup"
          optionLabel="code"
          placeholder="Select"
          formControlName="companyGroup"
        >
        </p-dropdown>
        <ng-container
          [ngTemplateOutlet]="showErrors"
          [ngTemplateOutletContext]="{
            form: formUser,
            field: 'companyGroup'
          }"
        >
        </ng-container>
      </div>
    </div>

    <p-toast
      [showTransitionOptions]="'100ms'"
      [hideTransitionOptions]="'100ms'"
      key="create"
    ></p-toast>
    <button pButton type="submit" style="margin-right: 30px"
    
    [disabled]="formUser.invalid"
    
    >Create</button>
    <button pButton class="p-button-secondary" (click)="onCancel($event)">
      Cancel
    </button>
  </form>
</section>
