@import "../../../../../assets/common/scss/variables.scss";
@import "../../../../../assets/common/scss/mixin.scss";

.user__management {
  margin: 30px 50px;
  overflow: hidden;
  .table-header {
    font-size: $fs20;
  }
  .toolbar__table {
    display: flex;
    justify-content: space-between;

    .create__new__user {
      ::ng-deep .p-sidebar-content {
        overflow: hidden;
      }

      .btn-create {
        background-color: $color-btn-create;
        font-weight: $fw-600;
      }
    }
  }

  .table__user {
    ::ng-deep .p-datatable-customers {
      padding-top: 50px;
      .p-datatable-thead {
        z-index: 0;
      }
      .p-inputtext {
        width: fit-content;
        padding-right: 14px;
      }

      .p-dropdown-items-wrapper {
        height: 150px;
      }

      .p-paginator {
        // width: 1131px;
        justify-content: flex-start
      }

      .btn-edit {
        background-color: $color-btn-edit;
      }

      .btn-delete {
        background-color: $color-btn-danger;
      }
    }
  }
}

.styleAgeOver15 {
  background-color: $bgc-age-over-15 !important;
}

::ng-deep
  .p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr:not(.p-highlight):hover {
  background: #e9ecef !important;
  color: $color-text;
}

::ng-deep .p-confirm-popup {
  &::before {
    display: none;
  }
  &::after {
    left: unset !important;
    right: 0;
  }
}
