//color
$color-text: #495057;
$color-white:white;
$color-black:black;
$color-transparent:transparent;
$bgc-age-over-15: #a8dadc;
$bgc-main-content:#f1faee;
$bgc-sidebar:#457b9d;
$color-btn-edit:#1d3557;
$color-btn-danger:#e63946;
$color-btn-create:#4cc9f0;

//font-size
$fs10: 10px;
$fs12: 12px;
$fs14: 14px;
$fs18: 18px;
$fs20: 20px;
$fs24: 24px;
$fs32: 32px;

//font-weight
$fw-400:400;
$fw-600:600;
$fw-700:700
